[Unit]
Description=Roars in slack when people upset it

[Service]
Environment=TREX=your_bot_access_token
WorkingDirectory=/srv/trex_roar
ExecStart=python3 /srv/trex_roar/roar.py
Restart=always

[Install]
WantedBy=multi-user.target
